* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}

.container {
    padding: 35px 15px;
    max-width: 375px;
}

.grid {
    margin-bottom: 25px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 0px 32px -7px rgba(0, 0, 0, 0.75);
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
}

.verified {
    font-size: 0.8rem;
    opacity: 50%;
}

.info img {
    width: 40px;
    border: 2px solid hsl(263, 55%, 70%);
    border-radius: 50%;
    margin-right: 15px;
}

h4 {
    font-size: 1.4rem;
    color: white;
    margin-bottom: 15px;
    line-height: 1.2;
}

.review-para-white {
    color: white;
    opacity: 70%;
    line-height: 1.5;
}

.grid-1 {
    background-color: hsl(263, 55%, 52%);
    position: relative;
    z-index: 1;
}

.quote-img {
    position: absolute;
    top: 0;
    left: 62%;
    z-index: -1;
}

.grid-2 {
    background-color: hsl(217, 19%, 35%);
}

.grid-3,
.grid-5 {
    background-color: hsl(0, 0%, 100%);
}

.grid-3 .info {
    color: hsl(217, 19%, 35%);
}

.grid-3 h4 {
    color: hsl(217, 19%, 35%);
}

.grid-3 .review-para-white {
    color: hsl(217, 19%, 35%);
}

.grid-5 .info {
    color: hsl(217, 19%, 35%);
}

.grid-5 h4 {
    font-size: 1.3rem;
    color: hsl(217, 19%, 35%);
}

.grid-5 .review-para-white {
    color: hsl(217, 19%, 35%);
}

.grid-4 {
    background-color: hsl(219, 29%, 14%);
}

@media (min-width: 576px) {
    .container {
        display: flex;
        margin: 0 auto;
        max-width: 1440px;
    }

    .left-container,
    .top,
    .bottom {
        display: flex;
    }

    .top,
    .bottom {
        flex-basis: 50%;
    }

    .grid-5 {
        flex-basis: 20%;
    }

    .left-container {
        flex-direction: column;
        flex-basis: 80%;
    }

    .grid-1,
    .grid-4 {
        flex-basis: 75%;
    }

    .grid-2,
    .grid-3 {
        flex-basis: 25%;
    }

    .grid {
        margin: 15px;
    }


}